#sectionList {
	display: none;
}

#configMain {
	display: none;
}

#shares {
	display: none;
	position: absolute;
	z-index: 10;
}

#shares img {
	animation-duration: 2s;
	animation-name: slideOut;
	opacity: 0.5;
}

@keyframes slideOut {
	0% {
		transform: translateY(0%) translateX(0%);
	}
	50% {
		transform: translateY(-92%) translateX(-92%);
		
	}
	80% {
		transform: translateY(-96%) translateX(-96%);

	}
	95% {
		transform: translateY(-102%)  translateX(-102%);
	}
	100% {
		transform: translateY(-100%) translateX(-100%);
	}
}

